
.spinner-carregando {
  padding: 15px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card {
  max-width: 60%;
  margin: 2em auto;
  text-align: center;
  min-width: 300px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
