
.spinner-carregando {
  padding: 15px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}


table, mat-table  {
  width: 100% !important;
}

.mat-header-cell, .mat-cell, .matColumnDef {
  justify-content: center !important;
}
